// Variables
@use "../../styles/variables" as *;

.left-side {
  flex: 1;
  padding: 2.813rem 0 1.875rem 0;
  background-color: $black;
  background: radial-gradient(
    79.84% 79.84% at 32.27% 91.27%,
    $background-radial-green 17.21%,
    $background-radial-blue 64.58%,
    $black 100%
  );
  width: 55%;
  .flex-row {
    display: flex;
    gap: 11px;
    align-items: flex-start;
    text-align: left;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
  .first-section {
    margin-left: 60px;
    .header-wrap {
      width: 48%;
      padding-right: 40px;
      .header-title {
        font-size: 1.938rem;
        font-weight: 500;
        margin: 16px 0;
        text-align: left;
        text-shadow: 2px 2px $background-dark;
        line-height: 120%;
      }
      .header-description {
        color: $gray-100;
        font-size: 1rem;
        font-weight: 500;
        text-align: left;
        margin: 0;
        line-height: 120%;
        @media only screen and (max-width: 600px) {
          padding-right: 1.25rem;
        }
      }
      @media only screen and (max-width: 600px) {
        padding: 0;
        width: 100%;
      }
    }
    .notification-inputs {
      display: flex;
      flex-direction: row;
      gap: 14px;
      width: calc(100% - 322px);
      overflow-x: scroll;
      white-space: no-wrap;
      &::-webkit-scrollbar {
        display: none;
      }
      @media only screen and (max-width: 600px) {
        width: 100%;
        margin-top: 1.25rem;
      }
    }
    @media only screen and (max-width: 600px) {
      margin-left: 1.25rem;
    }
  }
  .watch-section {
    margin-top: 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 62px;
    .dashboard-image {
      border-radius: 12px;
      margin: 0 0px 0px 60px;
      .dashboard-img {
        width: 100%;
        border-radius: 0.5rem;
      }
      @media only screen and (max-width: 600px) {
        border-radius: 12px;
        margin: 0 0px 0px 1.25rem;
      }
    }
    article {
      text-align: right;
      span {
        img {
          margin-top: 1.25rem;
        }
      }
      .watch-title {
        font-size: 31px;
        font-weight: 500;
        margin: 16px 0;
        line-height: 120%;
        padding-left: 6%;
      }
      .watch-description {
        font-size: 16px;
        color: rgba(242, 242, 242, 1);
        font-weight: 500;
        padding-left: 14%;
      }
      @media only screen and (max-width: 600px) {
        margin-top: 1.875rem;
      }
    }
    @media only screen and (max-width: 600px) {
      grid-template-columns: auto;
      padding-right: 1.25rem;
    }
  }
  .testimonials {
    margin-top: 22px;
    .testimonials-title {
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 1.25rem;
      text-align: right;
      margin-right: 60px;
      @media only screen and (max-width: 600px) {
        margin-right: 1.25rem;
      }
    }
    .border-seprator {
      border-bottom: 1.5px solid $border-dark;
      margin: 0 60px 40px;
      @media only screen and (max-width: 600px) {
        margin: 0 1.25rem 40px;
      }
    }
    article {
      &::-webkit-scrollbar {
        display: none;
      }
      overflow-x: auto;
      padding-right: 1.875rem;
      .testimonials-list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding-right: 1.25rem;
      }
    }
    .testimonial-wrap {
      display: flex;
      gap: 40px;
      align-items: flex-end;
      figure {
        margin-left: 3.75rem;
        @media only screen and (max-width: 600px) {
          margin-left: 1.25rem;
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}