// Variables
@use "../../../styles/variables" as *;

.testimonial-card {
  background: rgba(255, 255, 255, 1);
  padding: 1.25rem;
  border-radius: 12px;
  box-shadow: $shadow-light;
  color: rgba(29, 33, 41, 1);
  min-width: 353px;
  text-align: left;

  .testimonial-quote {
    font-size: 16px;
    font-weight: 500;
  }

  .testimonial-author {
    font-size: 16px;
    color: rgba(25, 25, 26, 1);
    margin-bottom: 1.25rem;
    font-weight: 600;
  }
  .testimonial-author span {
    color: rgba(150, 151, 154, 1);
    font-weight: 500;
    font-size: 0.813rem;
  }
}