// General
$white: #ffffff;
$black: #000000;

// Grays
$gray-100: #f2f2f2;
$gray-300: #d4d4d4;
$gray-500: #96979a;
$gray-800: #19191a;

// Backgrounds
$background-dark: #222;
$background-light: $white;
$background-radial-green: rgba(31, 169, 17, 0.810119);
$background-radial-blue: #2f15d0;
$background-input: #f9f9f9;
$background-form-button: $black;
$background-form-button-hover: #333;

// Border Colors
$border-light: $gray-300;
$border-dark: rgba(255, 255, 255, 0.68);

// Misc
$shadow-light: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);