// Variables
@use "../../styles/variables" as *;

.sign-up-form {
  max-width: 21.25rem;
  width: 100%;
  text-align: center;
  .form-title {
    font-size: 2.438rem;
    color: rgba(176, 177, 179, 1);
    margin-bottom: 2rem;
    text-align: left;
    font-weight: 500;
    line-height: 120%;
  }
  .form-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .form-input {
      border: 1px solid rgba(229, 229, 230, 1);
      border-radius: 0.5rem;
      font-size: 1rem;
      box-shadow: $shadow-light;
      height: 59px;
      padding: 0 0 0 24px;
      &::placeholder {
        color: rgba(202, 203, 204, 1);
      }
    }
    .form-button {
      background: black;
      font-size: 1rem;
      font-weight: 600;
      color: white;
      padding: 1.25rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: background 0.3s ease;
      height: 59px;
      &:hover {
        background: $background-form-button-hover;
      }
    }
  }
  .form-description {
    margin-top: 2.625rem;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(25, 25, 26, 1);
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
  @media only screen and (max-width: 600px) {
    padding: 1.25rem;
  }
}

.form-error {
  color: red;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}