// Variables
@use "./styles/variables" as *;

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
body {
  margin: 0;
  background: #000;
  color: $white;
  font-family: "Inter", sans-serif;
}
p,
figure,
article {
  margin: 0;
}
