// General
$white: #ffffff;
$black: #000000;

// Grays
$gray-100: #f2f2f2;
$gray-300: #d4d4d4;
$gray-500: #96979a;
$gray-800: #19191a;

// Backgrounds
$background-dark: #222;
$background-light: $white;
$background-radial-green: rgba(31, 169, 17, 0.810119);
$background-radial-blue: #2f15d0;
$background-input: #f9f9f9;
$background-form-button: $black;
$background-form-button-hover: #333;

// Border Colors
$border-light: $gray-300;
$border-dark: rgba(255, 255, 255, 0.68);

// Misc
$shadow-light: 0px 4px 10px 0px rgba(0, 0, 0, 0.04);

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
body {
  margin: 0;
  background: #000;
  color: $white;
  font-family: "Inter", sans-serif;
}
p,
figure,
article {
  margin: 0;
}

.main-wrapper {
  display: flex;
  min-height: 100vh;
  .left-side {
    flex: 1;
    padding: 2.813rem 0 1.875rem 0;
    background-color: $black;
    background: radial-gradient(
      79.84% 79.84% at 32.27% 91.27%,
      $background-radial-green 17.21%,
      $background-radial-blue 64.58%,
      $black 100%
    );
    width: 55%;
    .flex-row {
      display: flex;
      gap: 11px;
      align-items: flex-start;
      text-align: left;
      @media only screen and (max-width: 600px) {
        flex-direction: column;
        flex-wrap: wrap;
      }
    }
    .first-section {
      margin-left: 60px;
      .header-wrap {
        width: 48%;
        padding-right: 40px;
        .header-title {
          font-size: 1.938rem;
          font-weight: 500;
          margin: 16px 0;
          text-align: left;
          text-shadow: 2px 2px $background-dark;
          line-height: 120%;
        }
        .header-description {
          color: $gray-100;
          font-size: 1rem;
          font-weight: 500;
          text-align: left;
          margin: 0;
          line-height: 120%;
          @media only screen and (max-width: 600px) {
            padding-right: 1.25rem;
          }
        }
        @media only screen and (max-width: 600px) {
          padding: 0;
          width: 100%;
        }
      }
      .notification-inputs {
        display: flex;
        flex-direction: row;
        gap: 14px;
        width: calc(100% - 322px);
        overflow-x: scroll;
        white-space: no-wrap;
        &::-webkit-scrollbar {
          display: none;
        }

        .input-card {
          padding: 14px;
          border-radius: 8px;
          background: linear-gradient(0deg, $white, $white),
            linear-gradient(
              180deg,
              rgba(255, 255, 255, 0.2) 27.5%,
              rgba(22, 93, 255, 0.162) 157.71%
            );
          color: rgba(25, 25, 26, 1);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-width: 190px;

          .input-label {
            font-size: 14px;
            font-weight: 500;
            padding-right: 40px;
            margin: 14px 0 14px 0;
          }
          .input-label.small-text {
            font-size: 11px;
            padding-right: 25px;
            margin: 9px 0 9px 0;
          }
          .input-field {
            background: $white;
            border: none;
            font-weight: 500;
            border: 0;
            color: $gray-800;
            height: 35px;
            outline: none;
            padding: 0 14px;
            border-radius: 6px;
            border: 0.7px solid rgba(212, 212, 212, 1);
          }
          .input-field::placeholder {
            color: rgba(25, 25, 26, 1);
          }
          .input-wrap {
            background: rgba(229, 229, 230, 0.5);
            display: flex;
            color: rgba(49, 50, 51, 1);
            border-radius: 2.5px;
            padding: 4px;
            align-items: center;
            font-size: 9px;
            gap: 2.8px;
            width: fit-content;
          }
          .input-card-footer-text {
            color: rgba(25, 25, 26, 1);
            font-size: 11px;
            font-weight: 500;
            margin-top: 8px;
          }
          .header-cta {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: auto;
          }
          .header-cta span {
            font-size: 9px;
            font-weight: 600;
            cursor: pointer;
          }
        }
        @media only screen and (max-width: 600px) {
          width: 100%;
          margin-top: 1.25rem;
        }
      }
      @media only screen and (max-width: 600px) {
        margin-left: 1.25rem;
      }
    }
    .watch-section {
      margin-top: 72px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-right: 62px;
      .dashboard-image {
        border-radius: 12px;
        margin: 0 0px 0px 60px;
        .dashboard-img {
          width: 100%;
          border-radius: 0.5rem;
        }
        @media only screen and (max-width: 600px) {
          border-radius: 12px;
          margin: 0 0px 0px 1.25rem;
        }
      }
      article {
        text-align: right;
        span {
          img {
            margin-top: 1.25rem;
          }
        }
        .watch-title {
          font-size: 31px;
          font-weight: 500;
          margin: 16px 0;
          line-height: 120%;
          padding-left: 6%;
        }
        .watch-description {
          font-size: 16px;
          color: rgba(242, 242, 242, 1);
          font-weight: 500;
          padding-left: 14%;
        }
        @media only screen and (max-width: 600px) {
          margin-top: 1.875rem;
        }
      }
      @media only screen and (max-width: 600px) {
        grid-template-columns: auto;
        padding-right: 1.25rem;
      }
    }
    .testimonials {
      margin-top: 22px;
      .testimonials-title {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 1.25rem;
        text-align: right;
        margin-right: 60px;
        @media only screen and (max-width: 600px) {
          margin-right: 1.25rem;
        }
      }
      .border-seprator {
        border-bottom: 1.5px solid $border-dark;
        margin: 0 60px 40px;
        @media only screen and (max-width: 600px) {
          margin: 0 1.25rem 40px;
        }
      }
      article {
        &::-webkit-scrollbar {
          display: none;
        }
        overflow-x: auto;
        padding-right: 1.875rem;
        .testimonials-list {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          padding-right: 1.25rem;
          .testimonial-card {
            background: rgba(255, 255, 255, 1);
            padding: 1.25rem;
            border-radius: 12px;
            box-shadow: $shadow-light;
            color: rgba(29, 33, 41, 1);
            min-width: 353px;
            text-align: left;
            .testimonial-quote {
              font-size: 16px;
              font-weight: 500;
            }

            .testimonial-author {
              font-size: 16px;
              color: rgba(25, 25, 26, 1);
              margin-bottom: 1.25rem;
              font-weight: 600;
            }
            .testimonial-author span {
              color: rgba(150, 151, 154, 1);
              font-weight: 500;
              font-size: 0.813rem;
            }
          }
        }
      }
      .testimonial-wrap {
        display: flex;
        gap: 40px;
        align-items: flex-end;
        figure {
          margin-left: 3.75rem;
          @media only screen and (max-width: 600px) {
            margin-left: 1.25rem;
          }
        }
      }
    }
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }
  .right-side {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 45%;
    .sign-up-form {
      max-width: 21.25rem;
      width: 100%;
      text-align: center;
      .form-title {
        font-size: 2.438rem;
        color: rgba(176, 177, 179, 1);
        margin-bottom: 2rem;
        text-align: left;
        font-weight: 500;
        line-height: 120%;
      }
      .form-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .form-input {
          border: 1px solid rgba(229, 229, 230, 1);
          border-radius: 0.5rem;
          font-size: 1rem;
          box-shadow: $shadow-light;
          height: 59px;
          padding: 0 0 0 24px;
          &::placeholder {
            color: rgba(202, 203, 204, 1);
          }
        }
        .form-button {
          background: black;
          font-size: 1rem;
          font-weight: 600;
          color: white;
          padding: 1.25rem;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: background 0.3s ease;
          height: 59px;
          &:hover {
            background: $background-form-button-hover;
          }
        }
      }
      .form-description {
        margin-top: 2.625rem;
        font-size: 1rem;
        font-weight: 600;
        color: rgba(25, 25, 26, 1);
        margin-left: -1.25rem;
        margin-right: -1.25rem;
      }
      @media only screen and (max-width: 600px) {
        padding: 1.25rem;
      }
    }
    @media only screen and (max-width: 600px) {
      width: 100%;
      padding: 0;
    }
  }
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}
