// Variables
@use "./styles/variables" as *;

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
body {
  margin: 0;
  background: white;
  color: $white;
  font-family: "Inter", sans-serif;
  overflow: hidden;

  @media only screen and (max-width: 600px) {
    overflow: unset;
  }
}
p,
figure,
article {
  margin: 0;
}
